body{
    font-family: 'Merriweather', serif;
    color: white;
    background-color: #66BFBF;
}

/* Header */
header{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #11999E;
    padding: 20px 50px;
    color: black;
}

nav > ul {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

li > a {
    text-decoration: none;
}

nav li {
    list-style: none;
}

/* End Header */

hr {
  border-style: dotted solid;
  background-color:#66BFBF;
  border-width: 15px 0 0 0;
  height: 0;
  width: 10%;
  opacity: 0.35;
  margin: 30px 5px 30px 550px;
}

/* Footer */

footer {
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding: 15px 10px;
    background-color: #11999E;
    border-radius: 10px;
}

/* End Footer */

/* Main */

main {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.left-section {
    max-width: 300px;
    padding: 30px;
    background-color: #9b9b9b;
}

#about{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

#about img{
    border-radius: 50%;
    outline: 5px solid #11999E;
    animation: opacimg 5s;
    animation-iteration-count: infinite;
}

@keyframes opacimg {
    from {opacity: 0.3;}
    to {opacity: 1;}
}

#about img:hover{
    outline: 2px solid yellow;
    cursor: pointer;
    outline-offset: 1px;
}

/* End Main */